name: 'Publish release'

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: False
      matrix:
        architecture:
          - aarch64
          - amd64
          - armv7
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2

    - uses: olegtarasov/get-tag@v2
      name: Set tag envronment variable

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: homeassistant
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Publish ${{ matrix.architecture }} builder
      uses: home-assistant/builder@master
      with:
        args: |
          --${{ matrix.architecture }} \
          --target /data \
          --generic $GIT_TAG_NAME