name: "Publish"

on:
  release:
    types: [published]
  push:
    branches:
      - master

env:
  GIT_TAG_NAME: dev

jobs:
  init:
    name: Initialize build
    runs-on: ubuntu-latest
    outputs:
      architectures: ${{ steps.info.outputs.architectures }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Get information
        id: info
        uses: home-assistant/actions/helpers/info@master

  publish:
    name: Publish builder
    needs: init
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    strategy:
      fail-fast: False
      matrix:
        architecture: ${{ fromJson(needs.init.outputs.architectures) }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: olegtarasov/get-tag@9a8716825750e73195b02db42777b92ffe960605 # v2.1.4
        if: github.event_name == 'release'
        name: Set tag envronment variable

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish ${{ matrix.architecture }} builder
        uses: ./
        with:
          args: |
            --${{ matrix.architecture }} \
            --target /data \
            --cosign \
            --additional-tag ${{ github.sha }} \
            --generic $GIT_TAG_NAME
