name: "Test"

on:
  pull_request:

jobs:
  init:
    name: Initialize build
    runs-on: ubuntu-latest
    outputs:
      architectures: ${{ steps.info.outputs.architectures }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Get information
        id: info
        uses: home-assistant/actions/helpers/info@master

  build:
    name: Test action build
    needs: init
    runs-on: ubuntu-latest
    strategy:
      fail-fast: False
      matrix:
        architecture: ${{ fromJson(needs.init.outputs.architectures) }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Build the builder
        uses: home-assistant/builder@305e89677f0ff458bf6d10adfd5b360a32ab84e6 # 2026.02.0
        with:
          args: |
            --test \
            --amd64 \
            --target /data \
            --generic latest

      - name: Test ${{ matrix.architecture }} builder
        uses: ./
        with:
          args: |
            --test \
            --${{ matrix.architecture }} \
            --target /data \
            --generic ${{ github.sha }}
          pull: "false"
